@media (min-width: 768px) {
  .layout__2LSeh,
  .layout__inner__2pXke {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .layout__inner__2pXke {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .layout__item__Vkn0C {
    max-width: auto;
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .layout__item__Vkn0C:first-child {
    -webkit-flex-basis: 33.3333%;
    -ms-flex-preferred-size: 33.3333%;
    flex-basis: 33.3333%;
    max-width: 33.3333%;
  }
  .layout__item__Vkn0C:nth-child(2) {
    -webkit-flex-basis: 66.6666%;
    -ms-flex-preferred-size: 66.6666%;
    flex-basis: 66.6666%;
    max-width: 66.6666%;
  }
}
@media (min-width: 768px) {
  .layout--one-child__2yA39 .layout__inner__2pXke {
    display: block;
  }
}
.layout--one-child__2yA39 .layout__item__Vkn0C {
  max-width: 100%;
}
@media (min-width: 480px) {
  .list__inner__1beVi {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media (min-width: 480px) {
  .list__item-wrapper__27HkL:nth-child(4n + 1) {
    -webkit-flex-basis: 35%;
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
  }
}
@media (min-width: 480px) {
  .list__item-wrapper__27HkL:nth-child(4n + 1) .item__picture__1QkcW {
    padding-top: 100%;
  }
}
@media (min-width: 480px) {
  .list__item-wrapper__27HkL:nth-child(4n + 2),
  .list__item-wrapper__27HkL:nth-child(4n + 3) {
    -webkit-flex-basis: 65%;
    -ms-flex-preferred-size: 65%;
    flex-basis: 65%;
  }
}
@media (min-width: 480px) {
  .list__item-wrapper__27HkL:nth-child(4n + 2) .item__picture__1QkcW,
  .list__item-wrapper__27HkL:nth-child(4n + 3) .item__picture__1QkcW {
    padding-top: 51%;
  }
}
@media (min-width: 480px) {
  .list__item-wrapper__27HkL:nth-child(4n + 4) {
    -webkit-flex-basis: 35%;
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
  }
}
@media (min-width: 480px) {
  .list__item-wrapper__27HkL:nth-child(4n + 4) .item__picture__1QkcW {
    padding-top: 100%;
  }
}
@media (min-width: 992px) {
  .list__item-wrapper__27HkL:nth-child(6n + 2) {
    -webkit-flex-basis: 41.666%;
    -ms-flex-preferred-size: 41.666%;
    flex-basis: 41.666%;
  }
}
@media (min-width: 992px) {
  .list__item-wrapper__27HkL:nth-child(6n + 2) .item__picture__1QkcW {
    padding-top: 57.45%;
  }
}
@media (min-width: 992px) {
  .list__item-wrapper__27HkL:nth-child(6n + 3) {
    -webkit-flex-basis: 33.333%;
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
  }
}
@media (min-width: 992px) {
  .list__item-wrapper__27HkL:nth-child(6n + 3) .item__picture__1QkcW {
    padding-top: 72.97%;
  }
}
@media (min-width: 992px) {
  .list__item-wrapper__27HkL:nth-child(6n + 4) {
    -webkit-flex-basis: 41.666%;
    -ms-flex-preferred-size: 41.666%;
    flex-basis: 41.666%;
  }
}
@media (min-width: 992px) {
  .list__item-wrapper__27HkL:nth-child(6n + 4) .item__picture__1QkcW {
    padding-top: 57.45%;
  }
}
@media (min-width: 992px) {
  .list__item-wrapper__27HkL:nth-child(6n + 5) {
    -webkit-flex-basis: 33.333%;
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
  }
}
@media (min-width: 992px) {
  .list__item-wrapper__27HkL:nth-child(6n + 5) .item__picture__1QkcW {
    padding-top: 72.97%;
  }
}
@media (min-width: 992px) {
  .list__item-wrapper__27HkL:nth-child(6n + 1),
  .list__item-wrapper__27HkL:nth-child(6n + 6) {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
  }
}
@media (min-width: 992px) {
  .list__item-wrapper__27HkL:nth-child(6n + 1) .item__picture__1QkcW,
  .list__item-wrapper__27HkL:nth-child(6n + 6) .item__picture__1QkcW {
    padding-top: 100%;
  }
}
.list__item-wrapper__picture__2mGnj {
  padding-top: 80%;
}
.header__inner__lLh6b {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (min-width: 992px) {
  .header__inner__lLh6b {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    min-height: 65px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.header__inner-wrapper__1ZEO5 {
  position: relative;
  padding: 20px 0;
}
.header__top-line__30JWL {
  z-index: 0;
}
.header--mobile__1Fx-K {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 320px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 5000;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  overflow-y: auto;
}
.header__124EX:not(.header--opened__BG9CE) .header--mobile__1Fx-K {
  opacity: 0;
  pointer-events: none;
}
@media (min-width: 992px) {
  .header--mobile__1Fx-K {
    display: none;
  }
}
.header--mobile__1Fx-K .header__inner-wrapper__1ZEO5 {
  height: 100%;
}
.header--mobile__1Fx-K .fix-background__3_Fzu {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1;
  -ms-flex: 1 1;
  flex: 1 1;
}
.header--mobile__1Fx-K .nav__1Tbbs {
  width: 100%;
  min-height: 1px;
}
.top-line__inner__W7rOp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 40px;
  padding: 5px 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.top-line__text__1qVa4 {
  max-width: 100%;
}
@media (min-width: 768px) {
  .top-line__1n4MJ,
  .top-line__inner__W7rOp {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .top-line__inner__W7rOp {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .top-line__item__2rY5- {
    -webkit-flex-basis: 40%;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    max-width: 40%;
  }
  .top-line__inner__W7rOp {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.socials__39feG {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.socials-wrapper__31h-g {
  margin-top: 30px;
  margin-bottom: auto;
}
@media (min-width: 768px) {
  .socials-wrapper__31h-g {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  .socials__39feG {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}
.logo-wrapper__3NqM2 {
  min-width: 120px;
  max-width: calc(100% - 120px);
  margin: 0 auto;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
@media (min-width: 992px) {
  .logo-wrapper__3NqM2 {
    max-width: 350px;
    margin-left: 0;
    margin-right: 30px;
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    text-align: left;
  }
}
.logo-container__21pc5 {
  width: 100%;
}
@media (min-width: 992px) {
  .logo-container__21pc5 {
    width: auto;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}
.logo__3RS8m img {
  height: auto;
  margin: auto;
}
.wrapper__SZVPx {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
}
.nav__1Tbbs {
  padding-top: 30px;
}
@media (min-width: 768px) {
  .nav__1Tbbs {
    margin-bottom: auto;
  }
}
@media (min-width: 992px) {
  .nav__1Tbbs {
    display: block;
    position: relative;
    padding: 0;
    margin-bottom: 0;
    margin-left: auto;
  }
}
.nav-list__2HXfD {
  overflow: auto;
}
@media (min-width: 992px) {
  .nav-list__2HXfD {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: visible;
  }
}
.nav-button__3zwfU {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 24px;
}
@media (min-width: 480px) {
  .nav-button__3zwfU {
    left: 24px;
  }
}
@media (min-width: 768px) {
  .nav-button__3zwfU {
    left: 32px;
  }
}
@media (min-width: 992px) {
  .nav-button__3zwfU {
    left: 40px;
  }
}
@media (min-width: 1280px) {
  .nav-button__3zwfU {
    left: 15px;
  }
}
.btns-group__1Cu1E {
  width: 100%;
}
@media (min-width: 992px) {
  .btns-group-wrapper__vGatM {
    margin-left: 40px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  @media (min-width: 768px) {
    .btns-group-wrapper__vGatM {
      margin-left: 40px;
    }
  }
  @media (min-width: 992px) {
    .btns-group-wrapper__vGatM {
      margin-left: 40px;
    }
  }
}
@media (min-width: 992px) {
  .btns-group__inner__26cWJ {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 992px) {
  .btns-group__item__2obn2 {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 768px) {
  .footer__3oKMV,
  .footer__inner__rsga- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__inner__rsga- {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer__item__3MVxc {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: none;
  }
  .footer__item__3MVxc:first-child {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .footer__item__3MVxc:nth-child(2) {
    -webkit-flex-basis: 40%;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    max-width: 40%;
  }
  .footer__item__3MVxc:nth-child(3) {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .footer__item__3MVxc:nth-child(4) {
    -webkit-flex-basis: 35%;
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
    max-width: 35%;
  }
  .footer__item__3MVxc:nth-child(5) {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .footer__3oKMV,
  .footer__inner__rsga- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__inner__rsga- {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer__item__3MVxc {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: none;
  }
  .footer__item__3MVxc:first-child {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .footer__item__3MVxc:nth-child(2) {
    -webkit-flex-basis: 33%;
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
    max-width: 33%;
  }
  .footer__item__3MVxc:nth-child(3) {
    -webkit-flex-basis: 17%;
    -ms-flex-preferred-size: 17%;
    flex-basis: 17%;
    max-width: 17%;
  }
  .footer__item__3MVxc:nth-child(4) {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .footer__item__3MVxc:nth-child(5) {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
.footer__inner__rsga- {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.footer-logo__3D_zH {
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .footer-logo__3D_zH {
    padding-right: 30px;
    margin-bottom: 0;
  }
}
.footer-socials__ZAEqH {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 30px;
}
@media (min-width: 768px) {
  .footer-socials__ZAEqH {
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  .footer-socials__ZAEqH {
    padding-right: 15px;
  }
}
@media (min-width: 768px) {
  .footer--withoutLogo__33nk- .footer__3oKMV,
  .footer--withoutLogo__33nk- .footer__inner__rsga- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer--withoutLogo__33nk- .footer__inner__rsga- {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer--withoutLogo__33nk- .footer__item__3MVxc {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: none;
  }
  .footer--withoutLogo__33nk- .footer__item__3MVxc:first-child {
    -webkit-flex-basis: 40%;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    max-width: 40%;
  }
  .footer--withoutLogo__33nk- .footer__item__3MVxc:nth-child(2) {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .footer--withoutLogo__33nk- .footer__item__3MVxc:nth-child(3) {
    -webkit-flex-basis: 35%;
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
    max-width: 35%;
  }
  .footer--withoutLogo__33nk- .footer__item__3MVxc:nth-child(4) {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .footer--withoutLogo__33nk- .footer__3oKMV,
  .footer--withoutLogo__33nk- .footer__inner__rsga- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer--withoutLogo__33nk- .footer__inner__rsga- {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer--withoutLogo__33nk- .footer__item__3MVxc {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: none;
  }
  .footer--withoutLogo__33nk- .footer__item__3MVxc:first-child {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .footer--withoutLogo__33nk- .footer__item__3MVxc:nth-child(2),
  .footer--withoutLogo__33nk- .footer__item__3MVxc:nth-child(3) {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .footer--withoutLogo__33nk- .footer__item__3MVxc:nth-child(4) {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .footer--withoutLogo__33nk- .footer-nav__1AvTb .nav__item__1Bjt7 {
    max-width: calc(33.3333% - 15px);
    -webkit-flex-basis: calc(33.3333% - 15px);
    -ms-flex-preferred-size: calc(33.3333% - 15px);
    flex-basis: calc(33.3333% - 15px);
  }
  @media (min-width: 768px) {
    .footer--withoutLogo__33nk- .footer-nav__1AvTb .nav__item__1Bjt7 {
      -webkit-flex-basis: calc(33.3333% - 30px);
      -ms-flex-preferred-size: calc(33.3333% - 30px);
      flex-basis: calc(33.3333% - 30px);
      max-width: calc(33.3333% - 30px);
    }
  }
}
@media (min-width: 768px) {
  .footer--withoutSocials__5w5mN .footer__3oKMV,
  .footer--withoutSocials__5w5mN .footer__inner__rsga- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer--withoutSocials__5w5mN .footer__inner__rsga- {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer--withoutSocials__5w5mN .footer__item__3MVxc {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: none;
  }
  .footer--withoutSocials__5w5mN .footer__item__3MVxc:first-child {
    -webkit-flex-basis: 40%;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    max-width: 40%;
  }
  .footer--withoutSocials__5w5mN .footer__item__3MVxc:nth-child(2) {
    -webkit-flex-basis: 65%;
    -ms-flex-preferred-size: 65%;
    flex-basis: 65%;
    max-width: 65%;
  }
  .footer--withoutSocials__5w5mN .footer__item__3MVxc:nth-child(3) {
    -webkit-flex-basis: 35%;
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
    max-width: 35%;
  }
  .footer--withoutSocials__5w5mN .footer__item__3MVxc:nth-child(4) {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .footer--withoutSocials__5w5mN .footer-nav__1AvTb .nav__item__1Bjt7 {
    max-width: calc(33.3333% - 30px);
    -webkit-flex-basis: calc(33.3333% - 30px);
    -ms-flex-preferred-size: calc(33.3333% - 30px);
    flex-basis: calc(33.3333% - 30px);
  }
}
@media (min-width: 992px) {
  .footer--withoutSocials__5w5mN .footer__3oKMV,
  .footer--withoutSocials__5w5mN .footer__inner__rsga- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer--withoutSocials__5w5mN .footer__inner__rsga- {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer--withoutSocials__5w5mN .footer__item__3MVxc {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: none;
  }
  .footer--withoutSocials__5w5mN .footer__item__3MVxc:first-child {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .footer--withoutSocials__5w5mN .footer__item__3MVxc:nth-child(2) {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .footer--withoutSocials__5w5mN .footer__item__3MVxc:nth-child(3) {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .footer--withoutSocials__5w5mN .footer__item__3MVxc:nth-child(4) {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .footer--withoutSocials__5w5mN .footer-nav__1AvTb {
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .footer--withoutForm__1vCD2 .footer__3oKMV,
  .footer--withoutForm__1vCD2 .footer__inner__rsga- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer--withoutForm__1vCD2 .footer__inner__rsga- {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer--withoutForm__1vCD2 .footer__item__3MVxc {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: none;
  }
  .footer--withoutForm__1vCD2 .footer__item__3MVxc:first-child {
    -webkit-flex-basis: 40%;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    max-width: 40%;
  }
  .footer--withoutForm__1vCD2 .footer__item__3MVxc:nth-child(2) {
    -webkit-flex-basis: 65%;
    -ms-flex-preferred-size: 65%;
    flex-basis: 65%;
    max-width: 65%;
  }
  .footer--withoutForm__1vCD2 .footer__item__3MVxc:nth-child(3) {
    -webkit-flex-basis: 35%;
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
    max-width: 35%;
  }
  .footer--withoutForm__1vCD2 .footer__item__3MVxc:nth-child(4) {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .footer--withoutForm__1vCD2 .footer-nav__1AvTb .nav__item__1Bjt7 {
    max-width: calc(33.3333% - 30px);
    -webkit-flex-basis: calc(33.3333% - 30px);
    -ms-flex-preferred-size: calc(33.3333% - 30px);
    flex-basis: calc(33.3333% - 30px);
  }
}
@media (min-width: 992px) {
  .footer--withoutForm__1vCD2 .footer__3oKMV,
  .footer--withoutForm__1vCD2 .footer__inner__rsga- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer--withoutForm__1vCD2 .footer__inner__rsga- {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer--withoutForm__1vCD2 .footer__item__3MVxc {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: none;
  }
  .footer--withoutForm__1vCD2 .footer__item__3MVxc:first-child {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .footer--withoutForm__1vCD2 .footer__item__3MVxc:nth-child(2) {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .footer--withoutForm__1vCD2 .footer__item__3MVxc:nth-child(3) {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .footer--withoutForm__1vCD2 .footer__item__3MVxc:nth-child(4) {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .footer--withoutLogoSoc__78PFq .footer__3oKMV,
  .footer--withoutLogoSoc__78PFq .footer__inner__rsga- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer--withoutLogoSoc__78PFq .footer__inner__rsga- {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer--withoutLogoSoc__78PFq .footer__item__3MVxc {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: none;
  }
  .footer--withoutLogoSoc__78PFq .footer__item__3MVxc:first-child {
    -webkit-flex-basis: 60%;
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    max-width: 60%;
  }
  .footer--withoutLogoSoc__78PFq .footer__item__3MVxc:nth-child(2) {
    -webkit-flex-basis: 40%;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    max-width: 40%;
  }
  .footer--withoutLogoSoc__78PFq .footer__item__3MVxc:nth-child(3) {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .footer--withoutLogoSoc__78PFq .footer__3oKMV,
  .footer--withoutLogoSoc__78PFq .footer__inner__rsga- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer--withoutLogoSoc__78PFq .footer__inner__rsga- {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer--withoutLogoSoc__78PFq .footer__item__3MVxc {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: none;
  }
  .footer--withoutLogoSoc__78PFq .footer__item__3MVxc:first-child {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .footer--withoutLogoSoc__78PFq .footer__item__3MVxc:nth-child(2) {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .footer--withoutLogoSoc__78PFq .footer__item__3MVxc:nth-child(3) {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .footer--withoutLogoForm__1VlTx .footer__3oKMV,
  .footer--withoutLogoForm__1VlTx .footer__inner__rsga- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer--withoutLogoForm__1VlTx .footer__inner__rsga- {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer--withoutLogoForm__1VlTx .footer__item__3MVxc {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: none;
  }
  .footer--withoutLogoForm__1VlTx .footer__item__3MVxc:first-child {
    -webkit-flex-basis: 60%;
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    max-width: 60%;
  }
  .footer--withoutLogoForm__1VlTx .footer__item__3MVxc:nth-child(2) {
    -webkit-flex-basis: 40%;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    max-width: 40%;
  }
  .footer--withoutLogoForm__1VlTx .footer__item__3MVxc:nth-child(3) {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .footer--withoutLogoForm__1VlTx .footer__3oKMV,
  .footer--withoutLogoForm__1VlTx .footer__inner__rsga- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer--withoutLogoForm__1VlTx .footer__inner__rsga- {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer--withoutLogoForm__1VlTx .footer__item__3MVxc {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: none;
  }
  .footer--withoutLogoForm__1VlTx .footer__item__3MVxc:first-child {
    -webkit-flex-basis: 80%;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
    max-width: 80%;
  }
  .footer--withoutLogoForm__1VlTx .footer__item__3MVxc:nth-child(2) {
    -webkit-flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    max-width: 20%;
  }
  .footer--withoutLogoForm__1VlTx .footer__item__3MVxc:nth-child(3) {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
.footer--withoutLogoForm__1VlTx .footer-socials__ZAEqH {
  padding-right: 0;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
@media (min-width: 768px) {
  .footer--withoutFormSoc__2M6nT .footer__3oKMV,
  .footer--withoutFormSoc__2M6nT .footer__inner__rsga- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer--withoutFormSoc__2M6nT .footer__inner__rsga- {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer--withoutFormSoc__2M6nT .footer__item__3MVxc {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: none;
  }
  .footer--withoutFormSoc__2M6nT .footer__item__3MVxc:first-child,
  .footer--withoutFormSoc__2M6nT .footer__item__3MVxc:nth-child(2),
  .footer--withoutFormSoc__2M6nT .footer__item__3MVxc:nth-child(3) {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .footer--withoutFormSoc__2M6nT .footer-nav__1AvTb .nav__item__1Bjt7 {
    max-width: calc(33.3333% - 30px);
    -webkit-flex-basis: calc(33.3333% - 30px);
    -ms-flex-preferred-size: calc(33.3333% - 30px);
    flex-basis: calc(33.3333% - 30px);
  }
}
@media (min-width: 992px) {
  .footer--withoutFormSoc__2M6nT .footer__3oKMV,
  .footer--withoutFormSoc__2M6nT .footer__inner__rsga- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer--withoutFormSoc__2M6nT .footer__inner__rsga- {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer--withoutFormSoc__2M6nT .footer__item__3MVxc {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: none;
  }
  .footer--withoutFormSoc__2M6nT .footer__item__3MVxc:first-child {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .footer--withoutFormSoc__2M6nT .footer__item__3MVxc:nth-child(2) {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .footer--withoutFormSoc__2M6nT .footer__item__3MVxc:nth-child(3) {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .footer--withoutFormSoc__2M6nT .footer-nav__1AvTb .nav__item__1Bjt7 {
    max-width: calc(25% - 15px);
    -webkit-flex-basis: calc(25% - 15px);
    -ms-flex-preferred-size: calc(25% - 15px);
    flex-basis: calc(25% - 15px);
  }
  @media (min-width: 768px) {
    .footer--withoutFormSoc__2M6nT .footer-nav__1AvTb .nav__item__1Bjt7 {
      -webkit-flex-basis: calc(25% - 30px);
      -ms-flex-preferred-size: calc(25% - 30px);
      flex-basis: calc(25% - 30px);
      max-width: calc(25% - 30px);
    }
  }
}
@media (min-width: 768px) {
  .footer--onlyMenu__2VYOd .footer__3oKMV,
  .footer--onlyMenu__2VYOd .footer__inner__rsga- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer--onlyMenu__2VYOd .footer__inner__rsga- {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer--onlyMenu__2VYOd .footer__item__3MVxc {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: none;
  }
  .footer--onlyMenu__2VYOd .footer__item__3MVxc:first-child,
  .footer--onlyMenu__2VYOd .footer__item__3MVxc:nth-child(2) {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .footer--onlyMenu__2VYOd .footer__3oKMV,
  .footer--onlyMenu__2VYOd .footer__inner__rsga- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer--onlyMenu__2VYOd .footer__inner__rsga- {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer--onlyMenu__2VYOd .footer__item__3MVxc {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: none;
  }
  .footer--onlyMenu__2VYOd .footer__item__3MVxc:first-child,
  .footer--onlyMenu__2VYOd .footer__item__3MVxc:nth-child(2) {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
.logo__2ETTh {
  max-width: 100%;
}
@media (min-width: 992px) {
  .logo__2ETTh {
    max-width: 270px;
  }
}
.logo__desc___xw9x {
  margin-top: 30px;
}
.logo__desc___xw9x:first-child {
  margin-top: 0;
}
@media (min-width: 768px) {
  .nav__list__2xU-d {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .nav__item__1Bjt7 {
    max-width: calc(50% - 30px);
    -webkit-flex-basis: calc(50% - 30px);
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .nav__item__1Bjt7 .nav__submenu__1pPAr .nav__item__1Bjt7 {
    max-width: 100%;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .nav__item__1Bjt7 span {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
.form__IXBF8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  margin-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
@media (min-width: 768px) {
  .form__IXBF8 {
    margin-top: 0;
  }
}
.form__item__RuYO6 {
  width: 100%;
  text-align: center;
}
.form__item__RuYO6:first-of-type .form__field__c7uE2 {
  margin-top: 0;
}
.form__desc__2wg0q {
  display: block;
}
.form__field__c7uE2 {
  display: block;
  width: 100%;
  padding: 15px 26px;
  margin-top: 20px;
  border: 0;
  background: #ff527f;
  font-size: 15px;
  border-radius: 0;
  line-height: 1.3333;
  font-weight: 500;
}
.form__button__33-KF {
  width: 100%;
  margin-top: 10px;
}
.socials__1e6jX {
  max-width: 100%;
}
@media (min-width: 768px) {
  .socials__1e6jX {
    width: 100%;
    padding-right: 10px;
  }
}
.footer-bottom__1WUbJ {
  position: relative;
  width: 100%;
  padding-top: 30px;
  color: inherit;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.footer-bottom__1WUbJ:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  opacity: 0.125;
}
@media (min-width: 768px) {
  .footer-bottom__1WUbJ,
  .footer-bottom__inner__1Yopw {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-bottom__inner__1Yopw {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer-bottom__item__D9Q4z {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
}
.footer-bottom__item__D9Q4z:first-of-type {
  text-align: center;
}
@media (min-width: 768px) {
  .footer-bottom__item__D9Q4z:first-of-type {
    text-align: left;
  }
}
.footer-bottom__item__D9Q4z:nth-of-type(2) {
  text-align: center;
}
@media (min-width: 768px) {
  .footer-bottom__item__D9Q4z:nth-of-type(2) {
    text-align: right;
  }
}
.footer-bottom__item__D9Q4z:only-of-type {
  max-width: 100%;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .section--reverse__3eLko .article__content__1BSa1 {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
}
.section--reverse__3eLko .article__content-inner__D0EIf {
  margin-left: auto;
  margin-right: 0;
}
.section--reverse__3eLko .article__content-inner--full-width__2W5n1 {
  padding: 0 30px 0 24px;
}
@media (min-width: 480px) {
  .section--reverse__3eLko .article__content-inner--full-width__2W5n1 {
    padding: 0 30px 0 24px;
  }
}
@media (min-width: 768px) {
  .section--reverse__3eLko .article__content-inner--full-width__2W5n1 {
    padding: 0 30px 0 32px;
  }
}
@media (min-width: 992px) {
  .section--reverse__3eLko .article__content-inner--full-width__2W5n1 {
    padding: 0 30px 0 40px;
  }
}
@media (min-width: 1280px) {
  .section--reverse__3eLko .article__content-inner--full-width__2W5n1 {
    padding: 0 30px 0 15px;
  }
}
.section--only-image__1TaNi .article__media__XumF7 {
  max-width: 100%;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}
.section--only-image__1TaNi .picture__3pe4S {
  padding-top: 45%;
}
.picture__3pe4S {
  padding-top: 60%;
  height: 100%;
}
.picture-wrapper__1EPUV {
  height: 100%;
}
@media (min-width: 768px) {
  .picture__3pe4S {
    padding-top: 100%;
  }
}
@media (min-width: 992px) {
  .picture__3pe4S {
    padding-top: 70%;
  }
}
@media (min-width: 768px) {
  .layout__x9TpE {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1;
    -ms-flex: 1 1;
    flex: 1 1;
  }
  .layout__inner__m-qKr,
  .layout__x9TpE {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .layout__inner__m-qKr {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .layout__item__1Wsky {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
}
.article__content__1BSa1 {
  margin-top: 50px;
  margin-bottom: 50px;
}
@media (min-width: 992px) {
  .article__content__1BSa1 {
    margin-bottom: 55px;
  }
}
@media (min-width: 768px) {
  .article__content__1BSa1 {
    margin-bottom: 50px;
  }
}
@media (min-width: 992px) {
  .article__content__1BSa1 {
    margin-top: 55px;
  }
}
@media (min-width: 768px) {
  .article__content__1BSa1 {
    margin-top: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .article__content-inner__D0EIf {
    max-width: 600px;
    margin-right: auto;
    width: 100%;
  }
}
.article__content-inner--full-width__2W5n1 {
  padding: 0 24px;
}
@media (min-width: 480px) {
  .article__content-inner--full-width__2W5n1 {
    padding: 0 24px;
  }
}
@media (min-width: 768px) {
  .article__content-inner--full-width__2W5n1 {
    padding: 0 32px;
  }
}
@media (min-width: 992px) {
  .article__content-inner--full-width__2W5n1 {
    padding: 0 40px;
  }
}
@media (min-width: 1280px) {
  .article__content-inner--full-width__2W5n1 {
    padding: 0 15px;
  }
}
@media (min-width: 768px) {
  .article__content-inner--full-width__2W5n1 {
    padding: 0 32px 0 30px;
    max-width: 600px;
  }
  @media (min-width: 480px) {
    .article__content-inner--full-width__2W5n1 {
      padding: 0 32px 0 30px;
    }
  }
  @media (min-width: 768px) {
    .article__content-inner--full-width__2W5n1 {
      padding: 0 32px 0 30px;
    }
  }
  @media (min-width: 992px) {
    .article__content-inner--full-width__2W5n1 {
      padding: 0 40px 0 30px;
    }
  }
  @media (min-width: 1280px) {
    .article__content-inner--full-width__2W5n1 {
      padding: 0 15px 0 30px;
    }
  }
}
.socials__3mGZ9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.socials__list__1PlZ6 {
  min-width: 120px;
  max-width: 210px;
}
.socials__label__3I7HK {
  max-width: calc(100% - 140px);
}
@media (min-width: 768px) {
  .socials__label__3I7HK {
    max-width: calc(100% - 140px);
  }
}
.section__footer__20hZk {
  display: none;
}
@media (min-width: 768px) {
  .section__footer__20hZk {
    display: block;
  }
}
.section__footer__additional__3Y3F2 {
  width: 100%;
}
@media (min-width: 768px) {
  .section__footer__additional__3Y3F2 {
    display: none;
  }
}
.section--no-header__GLW3A .layout__3r7sk,
.section--no-header__GLW3A .layout__inner__2qsvy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.section--no-header__GLW3A .layout__inner__2qsvy {
  width: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.section--no-header__GLW3A .layout__item__1n2uE {
  max-width: auto;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
.section--no-header__GLW3A .layout__item__1n2uE:first-child {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}
.section--no-header__GLW3A .layout__item__1n2uE:nth-child(2) {
  -webkit-flex-basis: 0%;
  -ms-flex-preferred-size: 0%;
  flex-basis: 0%;
  max-width: 0;
}
.section__2KDia .w-panel:not(.w-state-has-background) {
  border: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .section__2KDia .w-panel:not(.w-state-has-background) {
    padding: 10px;
  }
}
@media (min-width: 992px) {
  .section__2KDia .w-panel:not(.w-state-has-background) {
    padding: 0;
  }
}
.panel__18BJw {
  border: 1px solid;
  padding: 50px 10px;
}
@media (min-width: 768px) {
  .panel__18BJw {
    padding: 75px 10px;
  }
}
@media (min-width: 992px) {
  .panel__18BJw {
    padding: 75px 100px;
  }
}
@media (min-width: 768px) {
  .layout__3r7sk,
  .layout__inner__2qsvy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .layout__inner__2qsvy {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .layout__item__1n2uE {
    max-width: auto;
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .layout__item__1n2uE:first-child {
    -webkit-flex-basis: 350px;
    -ms-flex-preferred-size: 350px;
    flex-basis: 350px;
    max-width: 350px;
  }
  .layout__item__1n2uE:nth-child(2) {
    -webkit-flex-basis: 300px;
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px;
    max-width: 300px;
  }
}
@media (min-width: 992px) {
  .layout__3r7sk,
  .layout__inner__2qsvy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .layout__inner__2qsvy {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .layout__item__1n2uE {
    max-width: auto;
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .layout__item__1n2uE:first-child {
    -webkit-flex-basis: 41%;
    -ms-flex-preferred-size: 41%;
    flex-basis: 41%;
    max-width: 41%;
  }
  .layout__item__1n2uE:nth-child(2) {
    -webkit-flex-basis: 36%;
    -ms-flex-preferred-size: 36%;
    flex-basis: 36%;
    max-width: 36%;
  }
}
.layout__inner__2qsvy {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.contacts__header__3xalH {
  margin: 0 auto 30px;
}
@media (min-width: 768px) {
  .contacts__header__3xalH {
    margin-left: 0;
    margin-bottom: 0;
  }
}
.contacts-list__HsE5u {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .contacts-list__HsE5u {
    margin-right: 0;
  }
}
.contacts-list__item__1QJa4 {
  margin-bottom: 25px;
}
.contacts-list__item__1QJa4:last-child {
  margin-bottom: 0;
}
#blockId-5b30d54ccf38370024d16a6b > section,
#blockId-5b30d54ccf38370024d16a6b > header,
#blockId-5b30d54ccf38370024d16a6b > footer {
  padding-top: 0px;
  padding-bottom: 0px;
}
#blockId-5b30d54ccf38370024d16a6b .w-apply-section-paddings {
  padding-top: 0px;
  padding-bottom: 0px;
}
#blockId-5b30d54ccf38370024d16a6b .w-ignore-section-paddings {
  margin-top: -0px;
  margin-bottom: -0px;
}
@media (min-width: 768px) {
  #blockId-5b30d54ccf38370024d16a6b > section,
  #blockId-5b30d54ccf38370024d16a6b > header,
  #blockId-5b30d54ccf38370024d16a6b > footer {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  #blockId-5b30d54ccf38370024d16a6b .w-apply-section-paddings {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  #blockId-5b30d54ccf38370024d16a6b .w-ignore-section-paddings {
    margin-top: -0px;
    margin-bottom: -0px;
  }
}
@media (min-width: 992px) {
  #blockId-5b30d54ccf38370024d16a6b > section,
  #blockId-5b30d54ccf38370024d16a6b > header,
  #blockId-5b30d54ccf38370024d16a6b > footer {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  #blockId-5b30d54ccf38370024d16a6b .w-apply-section-paddings {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  #blockId-5b30d54ccf38370024d16a6b .w-ignore-section-paddings {
    margin-top: -0px;
    margin-bottom: -0px;
  }
}

@media (max-width: 767px) {
  .w-ddd08dc1507f3fd283c068af50b2e0e9:not(.w-grid--slider)
    .w-grid__item:not(:nth-child(-n + 1)) {
    margin-top: undefinedpx !important;
  }

  .w-ddd08dc1507f3fd283c068af50b2e0e9:not(.w-grid--slider)
    .w-grid__item:not(:nth-child(n + 2)) {
    margin-top: 0 !important;
  }
}
#blockId-5b1fe2e644de18002578f93f > section,
#blockId-5b1fe2e644de18002578f93f > header,
#blockId-5b1fe2e644de18002578f93f > footer {
  padding-top: 80px;
  padding-bottom: 90px;
}
#blockId-5b1fe2e644de18002578f93f .w-apply-section-paddings {
  padding-top: 80px;
  padding-bottom: 90px;
}
#blockId-5b1fe2e644de18002578f93f .w-ignore-section-paddings {
  margin-top: -80px;
  margin-bottom: -90px;
}
@media (min-width: 768px) {
  #blockId-5b1fe2e644de18002578f93f > section,
  #blockId-5b1fe2e644de18002578f93f > header,
  #blockId-5b1fe2e644de18002578f93f > footer {
    padding-top: 80px;
    padding-bottom: 90px;
  }
  #blockId-5b1fe2e644de18002578f93f .w-apply-section-paddings {
    padding-top: 80px;
    padding-bottom: 90px;
  }
  #blockId-5b1fe2e644de18002578f93f .w-ignore-section-paddings {
    margin-top: -80px;
    margin-bottom: -90px;
  }
}
@media (min-width: 992px) {
  #blockId-5b1fe2e644de18002578f93f > section,
  #blockId-5b1fe2e644de18002578f93f > header,
  #blockId-5b1fe2e644de18002578f93f > footer {
    padding-top: 80px;
    padding-bottom: 90px;
  }
  #blockId-5b1fe2e644de18002578f93f .w-apply-section-paddings {
    padding-top: 80px;
    padding-bottom: 90px;
  }
  #blockId-5b1fe2e644de18002578f93f .w-ignore-section-paddings {
    margin-top: -80px;
    margin-bottom: -90px;
  }
}

:root:root:root .w-088754deb0dd8820b733e12d9894218e.w-mod-not-paddings {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
@media (min-width: 768px) {
  :root:root:root .w-088754deb0dd8820b733e12d9894218e.w-mod-not-paddings {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media (min-width: 992px) {
  :root:root:root .w-088754deb0dd8820b733e12d9894218e.w-mod-not-paddings {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

#blockId-5c48291067b50c00225688f4 > section,
#blockId-5c48291067b50c00225688f4 > header,
#blockId-5c48291067b50c00225688f4 > footer {
  padding-top: 90px;
  padding-bottom: 90px;
}
#blockId-5c48291067b50c00225688f4 .w-apply-section-paddings {
  padding-top: 90px;
  padding-bottom: 90px;
}
#blockId-5c48291067b50c00225688f4 .w-ignore-section-paddings {
  margin-top: -90px;
  margin-bottom: -90px;
}
@media (min-width: 768px) {
  #blockId-5c48291067b50c00225688f4 > section,
  #blockId-5c48291067b50c00225688f4 > header,
  #blockId-5c48291067b50c00225688f4 > footer {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  #blockId-5c48291067b50c00225688f4 .w-apply-section-paddings {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  #blockId-5c48291067b50c00225688f4 .w-ignore-section-paddings {
    margin-top: -90px;
    margin-bottom: -90px;
  }
}
@media (min-width: 992px) {
  #blockId-5c48291067b50c00225688f4 > section,
  #blockId-5c48291067b50c00225688f4 > header,
  #blockId-5c48291067b50c00225688f4 > footer {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  #blockId-5c48291067b50c00225688f4 .w-apply-section-paddings {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  #blockId-5c48291067b50c00225688f4 .w-ignore-section-paddings {
    margin-top: -90px;
    margin-bottom: -90px;
  }
}

#blockId-5c4731926265a30025fe57eb > section,
#blockId-5c4731926265a30025fe57eb > header,
#blockId-5c4731926265a30025fe57eb > footer {
  padding-top: 76px;
  padding-bottom: 30px;
}
#blockId-5c4731926265a30025fe57eb .w-apply-section-paddings {
  padding-top: 76px;
  padding-bottom: 30px;
}
#blockId-5c4731926265a30025fe57eb .w-ignore-section-paddings {
  margin-top: -76px;
  margin-bottom: -30px;
}
@media (min-width: 768px) {
  #blockId-5c4731926265a30025fe57eb > section,
  #blockId-5c4731926265a30025fe57eb > header,
  #blockId-5c4731926265a30025fe57eb > footer {
    padding-top: 76px;
    padding-bottom: 30px;
  }
  #blockId-5c4731926265a30025fe57eb .w-apply-section-paddings {
    padding-top: 76px;
    padding-bottom: 30px;
  }
  #blockId-5c4731926265a30025fe57eb .w-ignore-section-paddings {
    margin-top: -76px;
    margin-bottom: -30px;
  }
}
@media (min-width: 992px) {
  #blockId-5c4731926265a30025fe57eb > section,
  #blockId-5c4731926265a30025fe57eb > header,
  #blockId-5c4731926265a30025fe57eb > footer {
    padding-top: 76px;
    padding-bottom: 30px;
  }
  #blockId-5c4731926265a30025fe57eb .w-apply-section-paddings {
    padding-top: 76px;
    padding-bottom: 30px;
  }
  #blockId-5c4731926265a30025fe57eb .w-ignore-section-paddings {
    margin-top: -76px;
    margin-bottom: -30px;
  }
}
