.header__inner__lLh6b {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (min-width: 992px) {
  .header__inner__lLh6b {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    min-height: 65px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.header__inner-wrapper__1ZEO5 {
  position: relative;
  padding: 20px 0;
}
.header__top-line__30JWL {
  z-index: 0;
}
.header--mobile__1Fx-K {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 320px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 5000;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  overflow-y: auto;
}
.header__124EX:not(.header--opened__BG9CE) .header--mobile__1Fx-K {
  opacity: 0;
  pointer-events: none;
}
@media (min-width: 992px) {
  .header--mobile__1Fx-K {
    display: none;
  }
}
.header--mobile__1Fx-K .header__inner-wrapper__1ZEO5 {
  height: 100%;
}
.header--mobile__1Fx-K .fix-background__3_Fzu {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1;
  -ms-flex: 1 1;
  flex: 1 1;
}
.header--mobile__1Fx-K .nav__1Tbbs {
  width: 100%;
  min-height: 1px;
}
.top-line__inner__W7rOp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 40px;
  padding: 5px 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.top-line__text__1qVa4 {
  max-width: 100%;
}
@media (min-width: 768px) {
  .top-line__1n4MJ,
  .top-line__inner__W7rOp {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .top-line__inner__W7rOp {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .top-line__item__2rY5- {
    -webkit-flex-basis: 40%;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    max-width: 40%;
  }
  .top-line__inner__W7rOp {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.socials__39feG {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.socials-wrapper__31h-g {
  margin-top: 30px;
  margin-bottom: auto;
}
@media (min-width: 768px) {
  .socials-wrapper__31h-g {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  .socials__39feG {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}
.logo-wrapper__3NqM2 {
  min-width: 120px;
  max-width: calc(100% - 120px);
  margin: 0 auto;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
@media (min-width: 992px) {
  .logo-wrapper__3NqM2 {
    max-width: 350px;
    margin-left: 0;
    margin-right: 30px;
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    text-align: left;
  }
}
.logo-container__21pc5 {
  width: 100%;
}
@media (min-width: 992px) {
  .logo-container__21pc5 {
    width: auto;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}
.logo__3RS8m img {
  height: auto;
  margin: auto;
}
.wrapper__SZVPx {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
}
.nav__1Tbbs {
  padding-top: 30px;
}
@media (min-width: 768px) {
  .nav__1Tbbs {
    margin-bottom: auto;
  }
}
@media (min-width: 992px) {
  .nav__1Tbbs {
    display: block;
    position: relative;
    padding: 0;
    margin-bottom: 0;
    margin-left: auto;
  }
}
.nav-list__2HXfD {
  overflow: auto;
}
@media (min-width: 992px) {
  .nav-list__2HXfD {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: visible;
  }
}
.nav-button__3zwfU {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 24px;
}
@media (min-width: 480px) {
  .nav-button__3zwfU {
    left: 24px;
  }
}
@media (min-width: 768px) {
  .nav-button__3zwfU {
    left: 32px;
  }
}
@media (min-width: 992px) {
  .nav-button__3zwfU {
    left: 40px;
  }
}
@media (min-width: 1280px) {
  .nav-button__3zwfU {
    left: 15px;
  }
}
.btns-group__1Cu1E {
  width: 100%;
}
@media (min-width: 992px) {
  .btns-group-wrapper__vGatM {
    margin-left: 40px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  @media (min-width: 768px) {
    .btns-group-wrapper__vGatM {
      margin-left: 40px;
    }
  }
  @media (min-width: 992px) {
    .btns-group-wrapper__vGatM {
      margin-left: 40px;
    }
  }
}
@media (min-width: 992px) {
  .btns-group__inner__26cWJ {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 992px) {
  .btns-group__item__2obn2 {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 768px) {
  .footer__3oKMV,
  .footer__inner__rsga- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__inner__rsga- {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer__item__3MVxc {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: none;
  }
  .footer__item__3MVxc:first-child {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .footer__item__3MVxc:nth-child(2) {
    -webkit-flex-basis: 40%;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    max-width: 40%;
  }
  .footer__item__3MVxc:nth-child(3) {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .footer__item__3MVxc:nth-child(4) {
    -webkit-flex-basis: 35%;
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
    max-width: 35%;
  }
  .footer__item__3MVxc:nth-child(5) {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .footer__3oKMV,
  .footer__inner__rsga- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__inner__rsga- {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer__item__3MVxc {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: none;
  }
  .footer__item__3MVxc:first-child {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .footer__item__3MVxc:nth-child(2) {
    -webkit-flex-basis: 33%;
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
    max-width: 33%;
  }
  .footer__item__3MVxc:nth-child(3) {
    -webkit-flex-basis: 17%;
    -ms-flex-preferred-size: 17%;
    flex-basis: 17%;
    max-width: 17%;
  }
  .footer__item__3MVxc:nth-child(4) {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .footer__item__3MVxc:nth-child(5) {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
.footer__inner__rsga- {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.footer-logo__3D_zH {
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .footer-logo__3D_zH {
    padding-right: 30px;
    margin-bottom: 0;
  }
}
.footer-socials__ZAEqH {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 30px;
}
@media (min-width: 768px) {
  .footer-socials__ZAEqH {
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  .footer-socials__ZAEqH {
    padding-right: 15px;
  }
}
@media (min-width: 768px) {
  .footer--withoutLogo__33nk- .footer__3oKMV,
  .footer--withoutLogo__33nk- .footer__inner__rsga- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer--withoutLogo__33nk- .footer__inner__rsga- {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer--withoutLogo__33nk- .footer__item__3MVxc {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: none;
  }
  .footer--withoutLogo__33nk- .footer__item__3MVxc:first-child {
    -webkit-flex-basis: 40%;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    max-width: 40%;
  }
  .footer--withoutLogo__33nk- .footer__item__3MVxc:nth-child(2) {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .footer--withoutLogo__33nk- .footer__item__3MVxc:nth-child(3) {
    -webkit-flex-basis: 35%;
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
    max-width: 35%;
  }
  .footer--withoutLogo__33nk- .footer__item__3MVxc:nth-child(4) {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .footer--withoutLogo__33nk- .footer__3oKMV,
  .footer--withoutLogo__33nk- .footer__inner__rsga- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer--withoutLogo__33nk- .footer__inner__rsga- {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer--withoutLogo__33nk- .footer__item__3MVxc {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: none;
  }
  .footer--withoutLogo__33nk- .footer__item__3MVxc:first-child {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .footer--withoutLogo__33nk- .footer__item__3MVxc:nth-child(2),
  .footer--withoutLogo__33nk- .footer__item__3MVxc:nth-child(3) {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .footer--withoutLogo__33nk- .footer__item__3MVxc:nth-child(4) {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .footer--withoutLogo__33nk- .footer-nav__1AvTb .nav__item__1Bjt7 {
    max-width: calc(33.3333% - 15px);
    -webkit-flex-basis: calc(33.3333% - 15px);
    -ms-flex-preferred-size: calc(33.3333% - 15px);
    flex-basis: calc(33.3333% - 15px);
  }
  @media (min-width: 768px) {
    .footer--withoutLogo__33nk- .footer-nav__1AvTb .nav__item__1Bjt7 {
      -webkit-flex-basis: calc(33.3333% - 30px);
      -ms-flex-preferred-size: calc(33.3333% - 30px);
      flex-basis: calc(33.3333% - 30px);
      max-width: calc(33.3333% - 30px);
    }
  }
}
@media (min-width: 768px) {
  .footer--withoutSocials__5w5mN .footer__3oKMV,
  .footer--withoutSocials__5w5mN .footer__inner__rsga- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer--withoutSocials__5w5mN .footer__inner__rsga- {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer--withoutSocials__5w5mN .footer__item__3MVxc {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: none;
  }
  .footer--withoutSocials__5w5mN .footer__item__3MVxc:first-child {
    -webkit-flex-basis: 40%;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    max-width: 40%;
  }
  .footer--withoutSocials__5w5mN .footer__item__3MVxc:nth-child(2) {
    -webkit-flex-basis: 65%;
    -ms-flex-preferred-size: 65%;
    flex-basis: 65%;
    max-width: 65%;
  }
  .footer--withoutSocials__5w5mN .footer__item__3MVxc:nth-child(3) {
    -webkit-flex-basis: 35%;
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
    max-width: 35%;
  }
  .footer--withoutSocials__5w5mN .footer__item__3MVxc:nth-child(4) {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .footer--withoutSocials__5w5mN .footer-nav__1AvTb .nav__item__1Bjt7 {
    max-width: calc(33.3333% - 30px);
    -webkit-flex-basis: calc(33.3333% - 30px);
    -ms-flex-preferred-size: calc(33.3333% - 30px);
    flex-basis: calc(33.3333% - 30px);
  }
}
@media (min-width: 992px) {
  .footer--withoutSocials__5w5mN .footer__3oKMV,
  .footer--withoutSocials__5w5mN .footer__inner__rsga- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer--withoutSocials__5w5mN .footer__inner__rsga- {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer--withoutSocials__5w5mN .footer__item__3MVxc {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: none;
  }
  .footer--withoutSocials__5w5mN .footer__item__3MVxc:first-child {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .footer--withoutSocials__5w5mN .footer__item__3MVxc:nth-child(2) {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .footer--withoutSocials__5w5mN .footer__item__3MVxc:nth-child(3) {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .footer--withoutSocials__5w5mN .footer__item__3MVxc:nth-child(4) {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .footer--withoutSocials__5w5mN .footer-nav__1AvTb {
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .footer--withoutForm__1vCD2 .footer__3oKMV,
  .footer--withoutForm__1vCD2 .footer__inner__rsga- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer--withoutForm__1vCD2 .footer__inner__rsga- {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer--withoutForm__1vCD2 .footer__item__3MVxc {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: none;
  }
  .footer--withoutForm__1vCD2 .footer__item__3MVxc:first-child {
    -webkit-flex-basis: 40%;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    max-width: 40%;
  }
  .footer--withoutForm__1vCD2 .footer__item__3MVxc:nth-child(2) {
    -webkit-flex-basis: 65%;
    -ms-flex-preferred-size: 65%;
    flex-basis: 65%;
    max-width: 65%;
  }
  .footer--withoutForm__1vCD2 .footer__item__3MVxc:nth-child(3) {
    -webkit-flex-basis: 35%;
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
    max-width: 35%;
  }
  .footer--withoutForm__1vCD2 .footer__item__3MVxc:nth-child(4) {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .footer--withoutForm__1vCD2 .footer-nav__1AvTb .nav__item__1Bjt7 {
    max-width: calc(33.3333% - 30px);
    -webkit-flex-basis: calc(33.3333% - 30px);
    -ms-flex-preferred-size: calc(33.3333% - 30px);
    flex-basis: calc(33.3333% - 30px);
  }
}
@media (min-width: 992px) {
  .footer--withoutForm__1vCD2 .footer__3oKMV,
  .footer--withoutForm__1vCD2 .footer__inner__rsga- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer--withoutForm__1vCD2 .footer__inner__rsga- {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer--withoutForm__1vCD2 .footer__item__3MVxc {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: none;
  }
  .footer--withoutForm__1vCD2 .footer__item__3MVxc:first-child {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .footer--withoutForm__1vCD2 .footer__item__3MVxc:nth-child(2) {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .footer--withoutForm__1vCD2 .footer__item__3MVxc:nth-child(3) {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .footer--withoutForm__1vCD2 .footer__item__3MVxc:nth-child(4) {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .footer--withoutLogoSoc__78PFq .footer__3oKMV,
  .footer--withoutLogoSoc__78PFq .footer__inner__rsga- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer--withoutLogoSoc__78PFq .footer__inner__rsga- {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer--withoutLogoSoc__78PFq .footer__item__3MVxc {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: none;
  }
  .footer--withoutLogoSoc__78PFq .footer__item__3MVxc:first-child {
    -webkit-flex-basis: 60%;
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    max-width: 60%;
  }
  .footer--withoutLogoSoc__78PFq .footer__item__3MVxc:nth-child(2) {
    -webkit-flex-basis: 40%;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    max-width: 40%;
  }
  .footer--withoutLogoSoc__78PFq .footer__item__3MVxc:nth-child(3) {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .footer--withoutLogoSoc__78PFq .footer__3oKMV,
  .footer--withoutLogoSoc__78PFq .footer__inner__rsga- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer--withoutLogoSoc__78PFq .footer__inner__rsga- {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer--withoutLogoSoc__78PFq .footer__item__3MVxc {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: none;
  }
  .footer--withoutLogoSoc__78PFq .footer__item__3MVxc:first-child {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .footer--withoutLogoSoc__78PFq .footer__item__3MVxc:nth-child(2) {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .footer--withoutLogoSoc__78PFq .footer__item__3MVxc:nth-child(3) {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .footer--withoutLogoForm__1VlTx .footer__3oKMV,
  .footer--withoutLogoForm__1VlTx .footer__inner__rsga- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer--withoutLogoForm__1VlTx .footer__inner__rsga- {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer--withoutLogoForm__1VlTx .footer__item__3MVxc {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: none;
  }
  .footer--withoutLogoForm__1VlTx .footer__item__3MVxc:first-child {
    -webkit-flex-basis: 60%;
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    max-width: 60%;
  }
  .footer--withoutLogoForm__1VlTx .footer__item__3MVxc:nth-child(2) {
    -webkit-flex-basis: 40%;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    max-width: 40%;
  }
  .footer--withoutLogoForm__1VlTx .footer__item__3MVxc:nth-child(3) {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .footer--withoutLogoForm__1VlTx .footer__3oKMV,
  .footer--withoutLogoForm__1VlTx .footer__inner__rsga- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer--withoutLogoForm__1VlTx .footer__inner__rsga- {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer--withoutLogoForm__1VlTx .footer__item__3MVxc {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: none;
  }
  .footer--withoutLogoForm__1VlTx .footer__item__3MVxc:first-child {
    -webkit-flex-basis: 80%;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
    max-width: 80%;
  }
  .footer--withoutLogoForm__1VlTx .footer__item__3MVxc:nth-child(2) {
    -webkit-flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    max-width: 20%;
  }
  .footer--withoutLogoForm__1VlTx .footer__item__3MVxc:nth-child(3) {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
.footer--withoutLogoForm__1VlTx .footer-socials__ZAEqH {
  padding-right: 0;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
@media (min-width: 768px) {
  .footer--withoutFormSoc__2M6nT .footer__3oKMV,
  .footer--withoutFormSoc__2M6nT .footer__inner__rsga- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer--withoutFormSoc__2M6nT .footer__inner__rsga- {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer--withoutFormSoc__2M6nT .footer__item__3MVxc {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: none;
  }
  .footer--withoutFormSoc__2M6nT .footer__item__3MVxc:first-child,
  .footer--withoutFormSoc__2M6nT .footer__item__3MVxc:nth-child(2),
  .footer--withoutFormSoc__2M6nT .footer__item__3MVxc:nth-child(3) {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .footer--withoutFormSoc__2M6nT .footer-nav__1AvTb .nav__item__1Bjt7 {
    max-width: calc(33.3333% - 30px);
    -webkit-flex-basis: calc(33.3333% - 30px);
    -ms-flex-preferred-size: calc(33.3333% - 30px);
    flex-basis: calc(33.3333% - 30px);
  }
}
@media (min-width: 992px) {
  .footer--withoutFormSoc__2M6nT .footer__3oKMV,
  .footer--withoutFormSoc__2M6nT .footer__inner__rsga- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer--withoutFormSoc__2M6nT .footer__inner__rsga- {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer--withoutFormSoc__2M6nT .footer__item__3MVxc {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: none;
  }
  .footer--withoutFormSoc__2M6nT .footer__item__3MVxc:first-child {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .footer--withoutFormSoc__2M6nT .footer__item__3MVxc:nth-child(2) {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .footer--withoutFormSoc__2M6nT .footer__item__3MVxc:nth-child(3) {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .footer--withoutFormSoc__2M6nT .footer-nav__1AvTb .nav__item__1Bjt7 {
    max-width: calc(25% - 15px);
    -webkit-flex-basis: calc(25% - 15px);
    -ms-flex-preferred-size: calc(25% - 15px);
    flex-basis: calc(25% - 15px);
  }
  @media (min-width: 768px) {
    .footer--withoutFormSoc__2M6nT .footer-nav__1AvTb .nav__item__1Bjt7 {
      -webkit-flex-basis: calc(25% - 30px);
      -ms-flex-preferred-size: calc(25% - 30px);
      flex-basis: calc(25% - 30px);
      max-width: calc(25% - 30px);
    }
  }
}
@media (min-width: 768px) {
  .footer--onlyMenu__2VYOd .footer__3oKMV,
  .footer--onlyMenu__2VYOd .footer__inner__rsga- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer--onlyMenu__2VYOd .footer__inner__rsga- {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer--onlyMenu__2VYOd .footer__item__3MVxc {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: none;
  }
  .footer--onlyMenu__2VYOd .footer__item__3MVxc:first-child,
  .footer--onlyMenu__2VYOd .footer__item__3MVxc:nth-child(2) {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .footer--onlyMenu__2VYOd .footer__3oKMV,
  .footer--onlyMenu__2VYOd .footer__inner__rsga- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer--onlyMenu__2VYOd .footer__inner__rsga- {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer--onlyMenu__2VYOd .footer__item__3MVxc {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: none;
  }
  .footer--onlyMenu__2VYOd .footer__item__3MVxc:first-child,
  .footer--onlyMenu__2VYOd .footer__item__3MVxc:nth-child(2) {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
.logo__2ETTh {
  max-width: 100%;
}
@media (min-width: 992px) {
  .logo__2ETTh {
    max-width: 270px;
  }
}
.logo__desc___xw9x {
  margin-top: 30px;
}
.logo__desc___xw9x:first-child {
  margin-top: 0;
}
@media (min-width: 768px) {
  .nav__list__2xU-d {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .nav__item__1Bjt7 {
    max-width: calc(50% - 30px);
    -webkit-flex-basis: calc(50% - 30px);
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .nav__item__1Bjt7 .nav__submenu__1pPAr .nav__item__1Bjt7 {
    max-width: 100%;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .nav__item__1Bjt7 span {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
.form__IXBF8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  margin-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
@media (min-width: 768px) {
  .form__IXBF8 {
    margin-top: 0;
  }
}
.form__item__RuYO6 {
  width: 100%;
  text-align: center;
}
.form__item__RuYO6:first-of-type .form__field__c7uE2 {
  margin-top: 0;
}
.form__desc__2wg0q {
  display: block;
}
.form__field__c7uE2 {
  display: block;
  width: 100%;
  padding: 15px 26px;
  margin-top: 20px;
  border: 0;
  background: #ff527f;
  font-size: 15px;
  border-radius: 0;
  line-height: 1.3333;
  font-weight: 500;
}
.form__button__33-KF {
  width: 100%;
  margin-top: 10px;
}
.socials__1e6jX {
  max-width: 100%;
}
@media (min-width: 768px) {
  .socials__1e6jX {
    width: 100%;
    padding-right: 10px;
  }
}
.footer-bottom__1WUbJ {
  position: relative;
  width: 100%;
  padding-top: 30px;
  color: inherit;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.footer-bottom__1WUbJ:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  opacity: 0.125;
}
@media (min-width: 768px) {
  .footer-bottom__1WUbJ,
  .footer-bottom__inner__1Yopw {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-bottom__inner__1Yopw {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer-bottom__item__D9Q4z {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
}
.footer-bottom__item__D9Q4z:first-of-type {
  text-align: center;
}
@media (min-width: 768px) {
  .footer-bottom__item__D9Q4z:first-of-type {
    text-align: left;
  }
}
.footer-bottom__item__D9Q4z:nth-of-type(2) {
  text-align: center;
}
@media (min-width: 768px) {
  .footer-bottom__item__D9Q4z:nth-of-type(2) {
    text-align: right;
  }
}
.footer-bottom__item__D9Q4z:only-of-type {
  max-width: 100%;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  text-align: center;
}
@media (min-width: 992px) {
  .section__inner__fxwo0 {
    min-height: 700px;
    padding: 168px 15px;
  }
}
.section__15bk5 .heading__2W2Ox,
.section__footer__1Ouih,
.section__header__3RuMS {
  width: 100%;
}
.map-wrapper__3fFzu {
  position: relative;
  padding-top: 100%;
}
@media (min-width: 992px) {
  .map-wrapper__3fFzu {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding-top: 0;
    z-index: 1;
  }
}
.map__preview__3_ReS {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: "object-fit:cover";
  -o-object-fit: cover;
  object-fit: cover;
}
.single-box__content__3akls {
  width: calc(100% + 48px);
  max-width: calc(100% + 48px);
  margin: 0 -24px;
}
@media (min-width: 480px) {
  .single-box__content__3akls {
    margin: 0 -24px;
  }
}
@media (min-width: 768px) {
  .single-box__content__3akls {
    margin: 0 -32px;
  }
}
@media (min-width: 992px) {
  .single-box__content__3akls {
    margin: 0 -40px;
  }
}
@media (min-width: 1280px) {
  .single-box__content__3akls {
    margin: 0 -15px;
  }
}
@media (min-width: 480px) {
  .single-box__content__3akls {
    max-width: calc(100% + 48px);
  }
}
@media (min-width: 768px) {
  .single-box__content__3akls {
    max-width: calc(100% + 64px);
  }
}
@media (min-width: 992px) {
  .single-box__content__3akls {
    max-width: calc(100% + 80px);
  }
}
@media (min-width: 1280px) {
  .single-box__content__3akls {
    max-width: calc(100% + 30px);
  }
}
@media (min-width: 480px) {
  .single-box__content__3akls {
    width: calc(100% + 48px);
  }
}
@media (min-width: 768px) {
  .single-box__content__3akls {
    width: calc(100% + 64px);
  }
}
@media (min-width: 992px) {
  .single-box__content__3akls {
    width: calc(100% + 80px);
  }
}
@media (min-width: 1280px) {
  .single-box__content__3akls {
    width: calc(100% + 30px);
  }
}
.map-wrapper__3fFzu {
  width: calc(100% + 48px);
  max-width: calc(100% + 48px);
  margin: 0 -24px;
}
@media (min-width: 480px) {
  .map-wrapper__3fFzu {
    margin: 0 -24px;
  }
}
@media (min-width: 768px) {
  .map-wrapper__3fFzu {
    margin: 0 -32px;
  }
}
@media (min-width: 992px) {
  .map-wrapper__3fFzu {
    margin: 0 -40px;
  }
}
@media (min-width: 1280px) {
  .map-wrapper__3fFzu {
    margin: 0 -15px;
  }
}
@media (min-width: 480px) {
  .map-wrapper__3fFzu {
    max-width: calc(100% + 48px);
  }
}
@media (min-width: 768px) {
  .map-wrapper__3fFzu {
    max-width: calc(100% + 64px);
  }
}
@media (min-width: 992px) {
  .map-wrapper__3fFzu {
    max-width: calc(100% + 80px);
  }
}
@media (min-width: 1280px) {
  .map-wrapper__3fFzu {
    max-width: calc(100% + 30px);
  }
}
@media (min-width: 480px) {
  .map-wrapper__3fFzu {
    width: calc(100% + 48px);
  }
}
@media (min-width: 768px) {
  .map-wrapper__3fFzu {
    width: calc(100% + 64px);
  }
}
@media (min-width: 992px) {
  .map-wrapper__3fFzu {
    width: calc(100% + 80px);
  }
}
@media (min-width: 1280px) {
  .map-wrapper__3fFzu {
    width: calc(100% + 30px);
  }
}
@media (min-width: 992px) {
  .map-wrapper__3fFzu,
  .single-box__content__3akls {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
}
.single-box__282XE {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.single-box__282XE,
.single-box__content__3akls {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.single-box__content__3akls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 65px 20px 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (min-width: 992px) {
  .single-box__content__3akls {
    position: relative;
    width: 100%;
    max-width: 420px;
    margin: 0 -15px;
    padding: 50px 60px;
    z-index: 2;
    -webkit-box-shadow: #000 1px 1px 3px 0;
    box-shadow: 1px 1px 3px 0 #000;
  }
}
.contacts__desc__uA20n {
  margin-bottom: 10px;
}
.contacts-list__3QpvH {
  max-width: 100%;
}
.contacts__header__3n7w8 {
  width: 100%;
}
.heading__2W2Ox {
  margin-top: 0;
}
@media (max-width: 767px) {
  .section__2G3Dk {
    padding-bottom: 0 !important;
  }
}
.section__inner__3riNn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.section--reverse__1F412 .section__inner__3riNn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
@media (max-width: 767px) {
  .section--reverse__1F412 {
    padding-top: 0 !important;
    padding-bottom: 0;
  }
}
@media (max-width: 767px) {
  .section--reverse__1F412 .media__1Zs3Q {
    margin-top: 0 !important;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .section__inner__3riNn {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .section--reverse__1F412 .section__inner__3riNn {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .section--reverse__1F412 .content__1g82d {
    padding-bottom: 0;
  }
}
.media__1Zs3Q {
  position: relative;
}
@media (max-width: 767px) {
  .media__1Zs3Q {
    margin-bottom: 0 !important;
  }
}
@media (max-width: 991px) {
  .media__1Zs3Q {
    padding-top: 60%;
  }
}
@media (min-width: 768px) {
  .media__1Zs3Q {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
}
.map__3Dbv2 {
  padding-top: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "object-fit:cover";
  -o-object-fit: cover;
  object-fit: cover;
}
.content__1g82d {
  padding-left: 30px;
  padding-right: 30px;
}
@media (min-width: 768px) {
  .content__1g82d {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
    margin: auto;
  }
}
