.phone_number {
  font-weight: 700;
  font-size: 16px;
  text-decoration-line: underline;
  color: #fff;
}
.logo_name {
  font-weight: 700;
  font-size: 32px;
  font-family: Comfortaa, cursive;
}
.logo_description {
  font-weight: 400;
  font-size: 20px;
  font-family: Comfortaa, cursive;
}
.second_header {
  color: #fff;
  background-color: #f45f86;
}
@media only screen and (min-width: 1160px) {
  .linkContainer {
    display: inline-block;
  }

  .linkElement {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: calc(0.1 * 1em);
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 12.5px 15px 12.5px 15px;
  }

  .headerContainer {
    /* display: flex; */
    /* justify-content: center;*/
  }
  .logo {
    display: inline-block;
    margin-right: 30px;
  }
  .linksBlock {
    display: inline-flex;
    margin-left: 100px;
  }
  .logo_name {
    display: flex;
    justify-content: center;
  }
  .logo_description {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .second_header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0px 25px 0px !important;
  }
  .first_Header {
    padding: 5px 0px 5px 0px;
    background-color: black;
    width: 100%;
  }
  .register_button {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #db2655;
    color: black;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
  }

  .register_button_container {
    margin-left: 35px;
    background-color: #db2655;
    padding: 15px 26px 15px 26px;
  }
}
@media only screen and (max-width: 1160px) {
  .mobile_logo {
    display: inline-flex !important;
    justify-content: center;
  }
  .mobile_navbar {
    background-color: #db2655;
  }
  .showNav {
    min-height: 1000px;
    display: block;
  }
  .hideNav {
    display: none;
  }
  .desktop_header {
    display: none;
  }
  .first_Header {
    background-color: black;
    padding: 5px 0px 5px 0px;
    display: flex;
    justify-content: center;
  }
  .first_Header div div {
    margin-top: 5px;
    font-size: 15px;
    margin-bottom: 11px;
  }
  #nav-icon1 {
    display: inline-block;
    margin: 10px;
    width: 24px;
    height: 12px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #nav-icon1 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #nav-icon1 span:nth-child(1) {
    top: 0px;
  }

  #nav-icon1 span:nth-child(2) {
    top: 7px;
  }

  #nav-icon1 span:nth-child(3) {
    top: 14px;
  }

  #nav-icon1.open span:nth-child(1) {
    top: 7px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  #nav-icon1.open span:nth-child(3) {
    top: 7px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}
